# Python
__pycache__/
*.pyc
venv/
pyproject.toml

# Databases
*.db
*.sql
qdrant_storage/

# Environment
.env
*.log

# IDE
.vscode/

# RAG data
rag_knowledge_data/
metrics_data/

# RAG results and listing

all_project_files.txt
all_python_files.txt